.container {
display: grid;
grid-template-columns: 200px 200px 200px;
grid-template-rows: 200px;
grid-auto-rows: 200px;
gap: 50px;
}

.element {
    width: 100%;
    background-color: crimson;
    border: 1px solid aquamarine;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.element:hover {
    transform: scale(1.3);
}